:root {
  --ant-color-primary: #dd6108;
  --ant-color-primary-hover: #c45507;
  --ant-color-primary-active: #a94a06;
  --ant-color-info: #dd6108;
  --ant-color-link: #dd6108;
  --ant-color-link-hover: #c45507;
  --ant-color-link-active: #a94a06;
}
